<div class="app-container">
    <nav class="three-nav">
        <ul class="nav-links">
            <li class="nav-home"><a [routerLink]="['']">Home</a></li>
            <li class="nav-category">Tutorials
                <div class="nav-content">
                    <a [routerLink]="['/shader-tutorial']">Shader Tutorial</a>
                    <a [routerLink]="['/grass-tutorial']">Grass Tutorial</a>
                    <a [routerLink]="['/raymarching-tutorial']">Raymarching Tutorial</a>
                    <a [routerLink]="['/cloud-tutorial']">Cloud Tutorial</a>
                </div>
            </li>
            <li class="nav-category">Projects
                <div class="nav-content">
                    <a [routerLink]="['/shader-raycast']">Shader Raycast</a>
                    <a [routerLink]="['/compiled-shaders']">Complied Shaders</a>
                </div>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>
